Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content\Characters\Mannequins\Anims\Pistol
Content\Characters\Mannequins\Anims\Death
Content\Characters\Mannequins\Materials
Content\Characters\Mannequins\Textures
